.logo {
  width: 100%;
}

.items {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.border{
  border : 3px solid mediumspringgreen;
}

li {
  align-items: center;
  list-style-type: none;
  display: inline;
}

Header {
  margin-top: 10px Auto;
  width: 100%;
}
.bg_header {
  width: 100%;
  background-image: url("img/terrasse_resto_golf.jpg");
  background-size: cover;
}