<header>
    <div class="items">
        <div>
            <img class="logo" src="{{ asset("img/logo.jpg") }}" alt="golf gilles arnaud prof"/>
        </div>
        <nav class="items">
            <ul>
                <li>Utilisateur</li>
                <li>Contact</li>
                <li>Gallerie</li>
                <li>Voyages</li>
                <li>Planning</li>
                <li>Cours</li>
                <li>Tutos</li>
                <li>CE</li>
            </ul>
        </nav>
    </div>
</header>